src/main/resources/wsdl/enrollment-sparse-response.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.healthedge.com/connector/schema/enrollmentsparseresponse" xmlns:subsidy="http://www.healthedge.com/connector/schema/subsidy" xmlns:payeebankaccount="http://www.healthedge.com/connector/schema/payeebankaccounts" xmlns:memberfactors="http://www.healthedge.com/connector/schema/memberfactors" xmlns:hicn="http://www.healthedge.com/connector/schema/medicarehicn" xmlns:enrollment="http://www.healthedge.com/connector/schema/enrollmenttypes" xmlns:cobpolicy="http://www.healthedge.com/connector/schema/cobpolicy" xmlns:base="http://www.healthedge.com/connector/schema/basetypes" xmlns="http://www.healthedge.com/connector/schema/enrollmentsparseresponse" elementFormDefault="unqualified" targetNamespace="http://www.healthedge.com/connector/schema/enrollmentsparseresponse" version="4.1">
    <xs:annotation>
        <xs:documentation> DISCLAIMER This pre-release software provided by HealthEdge Inc. is a work-in-progress. HealthEdge provides pre-release information to early adopters for the purpose of design and planning. It has no warranty either explicit or implied and is subject to change. </xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.healthedge.com/connector/schema/basetypes" schemaLocation="http://100.111.30.153:9191/connector/services/v4/EnrollmentSparse?xsd=base-types.xsd"/>
    <xs:import namespace="http://www.healthedge.com/connector/schema/medicarehicn" schemaLocation="http://100.111.30.153:9191/connector/services/v4/EnrollmentSparse?xsd=MedicareHICNInfo.xsd"/>
    <xs:import namespace="http://www.healthedge.com/connector/schema/cobpolicy" schemaLocation="http://100.111.30.153:9191/connector/services/v4/EnrollmentSparse?xsd=cobPolicy.xsd"/>
    <xs:import namespace="http://www.healthedge.com/connector/schema/subsidy" schemaLocation="http://100.111.30.153:9191/connector/services/v4/EnrollmentSparse?xsd=subsidies.xsd"/>
    <xs:import namespace="http://www.healthedge.com/connector/schema/memberfactors" schemaLocation="http://100.111.30.153:9191/connector/services/v4/EnrollmentSparse?xsd=memberFactors.xsd"/>
    <xs:import namespace="http://www.healthedge.com/connector/schema/payeebankaccounts" schemaLocation="http://100.111.30.153:9191/connector/services/v4/EnrollmentSparse?xsd=payeeBankAccounts.xsd"/>
    <xs:import namespace="http://www.healthedge.com/connector/schema/enrollmenttypes" schemaLocation="http://100.111.30.153:9191/connector/services/v4/EnrollmentSparse?xsd=enrollment-types.xsd"/>
    <xs:element name="enrollmentResponse" type="EnrollmentResponseType"/>
    <xs:complexType name="EnrollmentResponseType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="base:String60Type"/>
            <xs:element minOccurs="0" name="subscriptionId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Subscription for which the enrollment was submitted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="subscriberId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Subscriber for whom the enrollment was submitted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="informationSource" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Source system for the enrollment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="status" type="base:ServiceStatusType">
                <xs:annotation>
                    <xs:documentation>Enrollment status. SUCCESS (transaction complete without errors or validation failures), FAILURE (system or validation error), NOCHANGE (request resulted in no net subscription, so was not submitted).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="enrollmentType" type="EnrollmentTransactionType">
                <xs:annotation>
                    <xs:documentation>The type of enrollment. Add (new enrollment), Amend (update to existing enrollment), Term (termination), or Reinstate (reinstatement of previous enrollment).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="accountChangeStatus" type="base:ServiceStatusType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="accountChangeCVCId" type="xs:long"/>
            <xs:element maxOccurs="1" minOccurs="0" name="binderPaymentStatus" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionInformation" type="base:TransactionInformationType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="secondaryTransactionInformation" type="base:TransactionInformationType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="member" type="MemberResponseType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="reportingCategory" type="ReportingCategoryResponseType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="errors" type="base:ErrorsType">
                <xs:annotation>
                    <xs:documentation>Exception string in case of system error.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subsidyResponse" type="subsidy:SubscriptionSubsidyResponseType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="cobPolicyResponse" type="cobpolicy:COBPolicyResponseType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="medicareHICNResponse" type="hicn:MedicareHICNInfoResponseType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="memberFactorsResponse" type="memberfactors:MemberFactorsResponseType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="payeeBankAccountResponse" type="payeebankaccount:PayeeBankAccountsResponseType"/>
            <!--   populated in case of FAILURE  -->
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportingCategoryResponseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="subscriberResponsibleAmount" type="base:CurrencyType"/>
            <xs:element minOccurs="0" name="accountResponsibleAmount" type="base:CurrencyType"/>
            <xs:element minOccurs="0" name="startDate" type="xs:string"/>
            <xs:element minOccurs="0" name="endDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberResponseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="memberId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>ID of the member for whom the enrollment was submitted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element default="true" maxOccurs="1" minOccurs="0" name="maintenanceOverride" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="maintenanceOverrideResult" type="xs:string"/>
            <xs:element minOccurs="0" name="lastName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Last name of the member for whom the enrollment was submitted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="firstName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>First name of the member for whom the enrollment was submitted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="dob" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Date of birth of the member for whom the enrollment was submitted. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="endorsementDate" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Endorsement date for the enrollment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="status" type="base:ServiceStatusType">
                <xs:annotation>
                    <xs:documentation>Enrollment status. SUCCESS (transaction complete without errors or validation failures), FAILURE (system or validation error), NOCHANGE (request resulted in no net subscription, so was not submitted).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="planSelection" type="PlanSelectionType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="providerSelection" type="ProviderSelectionType"/>
            <xs:element minOccurs="0" name="transactionInformation" type="base:TransactionInformationType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="secondaryTransactionInformation" type="base:TransactionInformationType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="individualMappingInfo" type="IndividualMappingInfo"/>
            <xs:element minOccurs="0" name="memberInputID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The input member ID, used for auditing and traceability.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="manualReviewList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="listMode" type="base:ListActionType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="manualReview" type="enrollment:MemberManualReviewType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndividualMappingInfo">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="status" type="base:ServiceStatusType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="message" type="base:String50Type"/>
            <xs:element maxOccurs="1" minOccurs="0" name="errors" type="base:ErrorsType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlanSelectionType">
        <xs:sequence>
            <xs:element minOccurs="0" name="enrolledPlan" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Plan in which the member is enrolled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="startDate" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Start date of the plan.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="endDate" type="xs:string">
                <xs:annotation>
                    <xs:documentation>End date of the plan.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="disenrollDate" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Disenrollment date of the plan.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="disenrollReason" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Reason for disenrollment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element default="false" maxOccurs="1" minOccurs="0" name="waiveBenefitWaitingPeriod" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProviderSelectionType">
        <xs:sequence>
            <xs:element minOccurs="0" name="practitioner" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Pracitioner name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="practitionerNPI" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Practitioner National Provider ID.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="pcp" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>If true, practitioner is PCP.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="supplierNetwork" type="xs:string">
                <xs:annotation>
                    <xs:documentation>supplier network name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="startDate" type="xs:string"/>
            <xs:element minOccurs="0" name="endDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EnrollmentTransactionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADD"/>
            <xs:enumeration value="AMEND"/>
            <xs:enumeration value="TERMINATE"/>
            <xs:enumeration value="REINSTATE"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>