src/main/resources/wsdl/subscription-sparse.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.healthedge.com/connector/schema/subscriptionsparse" xmlns:subsidy="http://www.healthedge.com/connector/schema/subsidy" xmlns:payeeBankAccount="http://www.healthedge.com/connector/schema/payeebankaccounts" xmlns:enrollment="http://www.healthedge.com/connector/schema/enrollmenttypes" xmlns:base="http://www.healthedge.com/connector/schema/basetypes" xmlns="http://www.healthedge.com/connector/schema/subscriptionsparse" elementFormDefault="unqualified" targetNamespace="http://www.healthedge.com/connector/schema/subscriptionsparse" version="4.1">
    <xs:import namespace="http://www.healthedge.com/connector/schema/subsidy" schemaLocation="http://100.111.30.153:9191/connector/services/v4/EnrollmentSparse?xsd=subsidies.xsd"/>
    <xs:import namespace="http://www.healthedge.com/connector/schema/basetypes" schemaLocation="http://100.111.30.153:9191/connector/services/v4/EnrollmentSparse?xsd=base-types.xsd"/>
    <xs:import namespace="http://www.healthedge.com/connector/schema/enrollmenttypes" schemaLocation="http://100.111.30.153:9191/connector/services/v4/EnrollmentSparse?xsd=enrollment-types.xsd"/>
    <xs:import namespace="http://www.healthedge.com/connector/schema/payeebankaccounts" schemaLocation="http://100.111.30.153:9191/connector/services/v4/EnrollmentSparse?xsd=payeeBankAccounts.xsd"/>
    <xs:element name="subscription" type="SubscriptionType"/>
    <xs:complexType name="SubscriptionType">
        <xs:complexContent>
            <xs:extension base="base:HealthRulesResourceType">
                <xs:group ref="SubscriptionGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:group name="SubscriptionGroup">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="maintenanceReasonCode" type="base:CodeEntryInputType">
                <xs:annotation>
                    <xs:documentation> Reference to SubscriptionCreateReason, SubscriptionAmendReason, SubscriptionTerminateReason and SubscriptionReinstateReason codeset. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="maintenanceComment" type="base:String900Type"/>
            <xs:element maxOccurs="1" minOccurs="0" name="subscriptionIdentifier" type="xs:long"/>
            <xs:element maxOccurs="1" minOccurs="0" name="payeeHccId" type="base:String50Type">
                <xs:annotation>
                    <xs:documentation> To whom should checks be sent for this subscription. Checks are sent to the subscriber when member pay for services out of pocket and submit receipts. This field is used for cases such as an out-of-country subscriber who is unable to cash a check. Do not use for endangered members where a member should have a check sent to a differnt payee. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="hccIdentifier" type="base:String50Type">
                <xs:annotation>
                    <xs:documentation> Business identifier for the subscription. Member IDs are often generated by adding suffixes to this ID. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="receiptDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation> Date the subscription application was received. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element default="false" maxOccurs="1" minOccurs="0" name="autoWithdrawalEnabled" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation> Is automatic withdrawal enabled for subscription? </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="originalEffectiveDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation> Date the subscriber first became active with the health plan. If converting members, this may be earlier than the earliest active date in the system. This date is not used by the system. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="applicationSignature" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation> If true, the enrollment application was signed. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="applicationDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation> Date on which the subscriber signed the enrollment application. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="lastPremiumPaidDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation> Last date on which the premium was paid. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="lastPremiumPaymentDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation> Last payment date of PremiumPayment </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="paymentHold">
                <xs:complexType>
                    <xs:group ref="enrollment:PaymentHoldGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="subscriptionUDTList">
                <xs:annotation>
                    <xs:documentation> User-defined terms or custom fields for the subscription. The list of available fields is configured on the benefit plan. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="listMode" type="base:ListActionType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriptionUDT" type="base:UDTListType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="accountMatchData">
                <xs:complexType>
                    <xs:group ref="AccountMatchGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="accountReference" type="base:IdentifierType"/>
            <!--  START Fields not mapped to Lookup input as of now  -->
            <xs:element maxOccurs="1" minOccurs="0" name="division" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="memberGroup" type="xs:string"/>
            <!--  END Fields not mapped to Lookup input as of now  -->
            <xs:element maxOccurs="1" minOccurs="0" name="vipReasonCode" type="base:CodeEntryInputType">
                <xs:annotation>
                    <xs:documentation> The reason a subscription is a VIP subscription. If this is set, then VIP permissions are required for access to the subscription and related data such as claims and authorizations. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="informationSourceCode" type="base:CodeEntryInputType">
                <xs:annotation>
                    <xs:documentation> Reference to the InformationSource codeset, which identifies how the subscription application was received (EDI, paper, etc.). </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="cobraSelection">
                <xs:annotation>
                    <xs:documentation> From SubscriptionSelections </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="cobraStart" type="xs:date">
                            <xs:annotation>
                                <xs:documentation> Date on which COBRA coverage begins. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="cobraEnd" type="xs:date">
                            <xs:annotation>
                                <xs:documentation> Date on which COBRA coverage ends. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="cobraReceiptDate" type="xs:date">
                            <xs:annotation>
                                <xs:documentation> Date on which the COBRA application was received. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="cobraPaidThroughDate" type="xs:date">
                            <xs:annotation>
                                <xs:documentation> Date through which COBRA premiums have been paid. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="comment" type="base:String1000Type">
                            <xs:annotation>
                                <xs:documentation> Comment about the COBRA coverage. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="cobraQualifyingEventCode" type="base:CodeEntryInputType">
                            <xs:annotation>
                                <xs:documentation> Reference to the CobraQualifyingEvent codeset; identifies the reason for putting the subscription on COBRA. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="individualPlanSelections">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="individualPlanSelectionListMode" type="base:ListActionType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="individualPlanSelection" type="IndividualPlanSelectionType">
                            <xs:annotation>
                                <xs:documentation> From IndividualPlanSelections; a list of individual plan selections in which the subscription has enrolled. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="claimReviewList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="listMode" type="base:ListActionType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claimReview" type="enrollment:ClaimReviewType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subsidy" type="subsidy:SubscriptionSubsidyType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="applicationInfo">
                <xs:complexType>
                    <xs:group ref="enrollment:ApplicationInfoGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="brokerSelections">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="listMode" type="base:ListActionType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="brokerSelection" type="SubscriptionBrokerSelectionType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="paymentType" type="base:CodeEntryInputType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="payeeBankAccount" type="payeeBankAccount:PayeeBankAccountsType"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="SubscriptionBrokerSelectionType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="broker" type="SubscriptionBrokerType"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="dateRanges" type="SubscriptionBrokerDateRangeType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubscriptionBrokerDateRangeType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="startDate" type="xs:date"/>
            <xs:element maxOccurs="1" minOccurs="0" name="endDate" type="xs:date"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="brokerAgents" type="SubscriptionBrokerAgentType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubscriptionBrokerType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="brokerIdentifier" type="xs:long"/>
            <xs:element maxOccurs="1" minOccurs="0" name="brokerHccId" type="base:String50Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubscriptionBrokerAgentType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="brokerAgentIdentifier" type="xs:long"/>
            <xs:element maxOccurs="1" minOccurs="0" name="brokerAgentHccId" type="base:String50Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndividualPlanSelectionType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="startDate" type="xs:date"/>
            <xs:element maxOccurs="1" minOccurs="1" name="endDate" type="xs:date"/>
            <xs:element maxOccurs="1" minOccurs="0" name="rateLockDate" type="xs:date"/>
            <xs:element maxOccurs="1" minOccurs="1" name="planYearStartDate" type="PlanYearStartDateType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="benefitPlanReference" type="base:IdentifierType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="benefitPlanMatchData">
                <xs:complexType>
                    <xs:group ref="BenefitPlanMatchGroup"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:group name="BenefitPlanMatchGroup">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="benefitPlanName" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="benefitPlanHccId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="benefitPlanOtherIdentifier">
                <xs:complexType>
                    <xs:group ref="BenefitPlanIdentificationGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="asOfDate" type="xs:date"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="PlanYearStartDateType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="monthName" type="base:MonthNameType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="dayNumber" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:group name="BenefitPlanIdentificationGroup">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="otherID" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="identificationType" type="base:CodeEntryInputType"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="AccountMatchGroup">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="accountHccIdentifier" type="base:AccountHccIDType">
                <xs:annotation>
                    <xs:documentation> The account through which coverage is offered. For group business, this will be the subscriber's employer. For individuals business, this will be an umbrella such as Medicare, Medicaid, etc. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="accountOtherIdentifier">
                <xs:complexType>
                    <xs:group ref="AccountIdentificationGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="asOfDate" type="xs:date"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="AccountIdentificationGroup">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="otherIdentificationNumber" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="identificationType" type="base:CodeEntryInputType"/>
        </xs:sequence>
    </xs:group>
</xs:schema>